body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

.main-container {
background-color: #b5d1cb;
padding: 40px;
}


.white-container {
background-color: white;
width: 800px;
margin-right: 10px ;
margin-left: 20px;
padding: 25px;

}


.header {
background-color: #58b980;
color: white;
text-align: right;
padding: 15px;
margin-bottom: 5px;
}

.header h1 {
margin: 5px;
}

.header p {
margin: 0;
font-style: italic;
}


.sidebar {
background-color: #58b980;
color: red;
width: 200px;
float: left;
padding: 30px;
margin-right: 20px;
border: 3px solid green;


}

.sidebar h2 {
color: white;
border: 3px solid #58b980;
padding-bottom: 5px;
}

.sidebar ul {
padding: 0;
margin: 0;
}

.sidebar li {
margin: 8px 0;
}

.sidebar .highlight {
color: white;
}


.entry {
background-color: #d2ece6;
padding: 30px;
border: 2px solid #b5d1cb;
margin-bottom: 15px;
overflow: hidden;
}

.entry h3 {
color: #2b8a83;
margin-top: 0;
}

.entry p {
color: red;
text-align: centre;
}

.entry img {
float: right;
width: 100px;
height: 80px;
margin-left: 10px;
border: 1px solid #b5d1cb;
}